@media (max-width: 1900px) {

    // HOMEPACE
        .home {
            .land2 {
                padding-bottom: 110px;
            }
        }
    }



@media (max-width: 1800px) {

    // HOMEPAGE

        .home {
            .land {

                .road {
                    top: -310px;
                }

                
                    .title-servicing {
                        bottom: -410px;
                    }

                    .concert-pin {
                        left: 32.4%;
                        top: 42%;
                    }

                    .party-pin {
                        left: 17%;
                    }
                
            }

            .land2 {
                padding-bottom: 100px;
            }
        }
    }

@media (min-width: 1750px) {

    // HOMEPAGE

    .home { 
        .hero-building {
            .container { 
                .forKids-pin  {
                    bottom: 8%;
                    left: 50.2%;
                }

                .culture-pin {
                    top: 40px;
                }
            }
        }

        .land {
            padding-top: 450px;

            .concert-pin {
                left: 31.8%;
                top: 42%;
            }

            .party-pin {
                left: 15.5%;
                top: 47%;
            }

            .sports-pin {
                top: -30%;
            }


            &::before {
                top: 150px;
                left: 50px;
            }

            .road {
                top: -280px;
            }

            .bg-left-section {
                top: -140px;
            }

            .title-servicing {
                bottom: -370px;
            }

            .bg-right-section {
                top: 20px;
                right: -100px;
            }

        }

        .land2 {
            padding-bottom: 60px;

            .column-33 {
                &:nth-child(1) {
                    top: 110px;

                    &::after {
                        bottom: 120px;
                    }
                }

                &:nth-child(2) {
                    top: 30px;
                }

                &:nth-child(3) {
                    top: -20px;
                }
            }
        }

        .land3 {
            padding-top: 300px;
            top: 90px;

            .road2 {
                top: -110px;

                img {
                    width: 115%;
                }
            }
        }

        .land4 {
            padding-top: 300px;
        }
    }
}


@media (max-width: 1750px) {

    // HOMEPAGE

    .home {
        .hero-building  {

            .container 
                .forKids-pin  {
                    bottom: 10%;
                    left: 50.2%;
                }
            }

            .land {

                .concert-pin {
                    left: 31.4%;
                    top: 36%;
                }

                .party-pin {
                    left: 15%;
                    top: 42%;
                }

                .sports-pin {
                    top: -39%;
                }

                padding-top: 360px;

                .bg-left-section {
                    top: -140px;
                }

                .bg-right-section {
                    right: -70px;
                }

                .title-servicing {
                    bottom: -360px;
                }

                .road {
                    top: -330px;
                    left: -10px;
                    width: 101%;
                }
            }

            .land2 {
                .column-33 {
                    &:nth-child(1) {
                        top: 90px;
                    }

                    &:nth-child(2) {
                        top: 0px;
                    }

                    &:nth-child(3) {
                        top: -80px;
                    }
                }
            }

            .land3 {
                top: 80px;
                padding-top: 280px;

                .road2 {
                    top:-140px;

                    img {
                        width: 108%;
                    }
                }
            }

            .land4 {
                padding-top: 300px;
            }

        }
 
}



@media (max-width: 1700px) {

    // HOMEPAGE

    .home {
        .hero-building {
                .container {
                    .forKids-pin  {
                        bottom: 14%;
                        left: 50.2%;
                    }
            }
        }

        .land {
            padding-top: 300px;

            .road {
                &::after {
                    bottom: 12%;
                }
            }

            .bg-left-section {
                top: -130px;
            }

            .sports-pin {
                top: -45%;
            }

            .concert-pin {
                top: 33%;
                left: 30.9%;
            }

            .party-pin {
                left: 14%;
                top: 38%;
            }

            .bg-left-section {
                top: -130px;
            }

            .bg-right-section {
                right: -90px;
                top: 30px;
            }

            .title-servicing {
                bottom: -350px
            }
        }

        .land2 {
            .column-33 {
                &:nth-child(1) {
                    top: 30px;

                    &::after {
                        bottom: 100px
                    }
                }

                &:nth-child(2) {
                    top: -30px;
                }

                &:nth-child(3) {
                    top: -70px;
                }
            }
        }

        .land3 {
            padding-top: 260px;
            max-width: 100%;
            top: 50px;

            &::before {
                top: 200px;
            }

            .road2 {
                max-width: 1370px;
            }
        }
    }
}


@media (max-width: 1650px) {

    // HOMEPAGE

    
    .home {
        .hero-building { 
            .container {
                .forKids-pin  {
                    bottom: 16%;
                    left: 50.2%;
                }
            }
        }

        .land {
            padding-top: 230px;

            .title-servicing {
                bottom: -350px;
            }

            .road {
                top: -390px;
                width: 102%;
            }

            .sports-pin {
                top: -55%;
            }
            
            .concert-pin {
                top: 25%;
                left: 30.2%;
            }

            .party-pin {
                left: 13%;
                top: 33%;
            }

            .bg-left-section {
                top: -120px;
            }
        }

        .land2 {
            .column-33 {
                &:nth-child(1) {
                    top: 10px;

                    &::after {
                        bottom: 90px;
                    }
                }

                &:nth-child(2) {
                    top: -40px;
                }

                &:nth-child(3) {
                    top: -90px;
                }
            }
        }

        .land3 {

            padding-top: 230px;
            

            .road2 {
                top: -170px;
            }
        }
    }
}


@media (max-width: 1600px) {

    // HOMEPAGE

    .home { 
        .hero-building { 
            .container { 
                .forKids-pin  {
                    bottom: 18%;
                }
            }
        }

        .land {

            padding-top: 220px;

            .title-servicing {
                bottom: -320px;
            }

            .concert-pin {
                left: 29.7%;
                top: 24%;
            }

            .party-pin {
                left: 12%;
            }

            .road {
                &::after {
                    bottom: 11%;
                }
            }
        }

        .land2 {
            .column-33 {
                &:nth-child(1) {
                    &::after {
                        bottom: 110px; 
                    }
                }
            }
        }

        .land3 {
            padding-top: 250px;
            top: 20px;
            background-position-y: 120px;

        }

        .land4 {
            padding-top: 270px;
        }
    }
}

@media (max-width: 1550px) {

    // HOMEPAGE

    .home {
    
        .hero-building { 
            .container { 
                .forKids-pin  {
                    bottom: 21%;
                }
            }
        }

        .land {

            .title-servicing {
                bottom: -270px;
            }

            .road {
                &::after {
                    bottom: 13%;
                }
            }

            .concert-pin {
                left: 29.3%;
                top: 25%;
            }

            .party-pin {
                left: 11%;
            }
        }

        .land2 {
            .column-33 {
                &:nth-child(1) {
                    top: 0px;
                }

                &:nth-child(2) {
                    top: -60px;
                }

                &:nth-child(3) {
                    top: -110px;
                }
            }
        }

        .land3 {
            padding-top: 220px;
            background-position-y: 110px;
            
            .road2 {
                top: -200px;
            }
        }

        .land4 {
            padding-top: 220px;
        }
    }
}



@media (max-width: 1500px) {

    // HOMEPAGE

    .home {
        .hero-building { 
            .container { 
                .forKids-pin  {
                    bottom: 22%;
                    left: 50%;
                }
            }
        }
    
        .land {

    

            .concert-pin {
                left: 28.5%;
            }
            
            .title-servicing {
                bottom: -300px;
                left: 150px;

                h2::after {
                    bottom: -4px;
                }
            }
        
            .road {
                top: -330px;

                &::after {
                    width: 210px;
                    height: 220px;
                    bottom: 10%;
                }
            }

            .sports-pin {
                right: 9%;
                top: -53%;

                img {
                    width: 70px;
                }
            }

            .bg-right-section {
                top: 50px;
                right: -40px;

                .billboard {
                    top: -90px;
                }
            }
        }

        .land2 {
            .column-33 {
                &:nth-child(1) {
                    top: -40px;

                    &::after {
                        left: -60px;
                    }
                }

                &:nth-child(2) {
                    top: -80px;
                }

                &:nth-child(3) {
                    top: -130px;
                }
            }
        }

        .land3 {
            background-position-y: 110px;
            padding-top: 200px;
            top: -20px;

            .road2 {
                left: -6%;
            }
        }
}   


}



@media (max-width: 1450px) {

    // HOMEPAGE
    
    .navigation,
    .container {
        margin-left: 30px;
        margin-right: 30px;
    }

    // 
    // HOMEPAGE
    //

    .home {
            .hero-building {
                .container {
                    
                    .culture-pin {
                        top: 25px;
                    }
                
                    .forKids-pin {
                        bottom: 25%;
                    }
                
                .downloads-buttons {
                        .button-social {

                            .social-image {
                                    
                                img {
                                        width: 30px;
                                }  
                            }

                            .social-text {
                                p {
                                    font-size: 18px;
                                }

                                h4 {
                                    font-size: 22px;
                                }
                            }
                    }
                }

            }
        }
        .land {

            .concert-pin {
                left: 27.8%;
                top: 26%;
            }

            .party-pin {
                left: 9%;
                top: 34%;
            }

            .sports-pin {
                right: 9%;
                top: -42%;
            }
        
            .road {
                top: -300px;
            }
        }

        .bg-left-section {
            left: -100px;
            background-position: unset;
        }
 
        .title-servicing {
            bottom: -270px;
        }

        .bg-left-section {
            img {
                top: 190px;
            }
        }

        .concert-pin {
            left: 27.8%;
        }

        .party-pin {
            left: 8.5%;
        }
    

        .land2 {
            .column-33 {

                &:nth-child(1) {
                    .mobile-column {
                        .mobile-image {
                            max-width: 220px;
                        }
                    }

                    &::after {
                        width: 190px;
                        bottom: 80px;
                        left: -50px;
                    }
                }

                &:nth-child(2) {
                    .mobile-column {
                        .mobile-image {
                            max-width: 310px;
                        }
                    }
                }
                
                &:nth-child(3) {
                    .mobile-column {
                        .mobile-image {
                            max-width: 220px;
                        }
                    }
                }
            }
        }


        .land3 {

            background-size: 100%;

            .column-33 {
                &:nth-child(1) {
        

                    .mobile-column {
                        .mobile-image {
                            max-width: 220px;
                        }
                    }
                }

                &:nth-child(2) {
                
                        .mobile-column {
                            .mobile-image {
                                max-width: 220px;
                            }
                        }
                }

                &:nth-child(3) {
                    .mobile-column {
                        .mobile-image {
                            max-width: 220px;
                        }
                    }
                }
            }

            .road2 {
                top: -150px;
                max-width: 90%;
            }
        }

        .land4 {
            padding-top: 120px;
        }
    }
}


@media (max-width: 1400px) {
    .home {
        
        .hero-building { 
            
            .container {

                padding-left: 30px;
                padding-right: 30px;

                
                .forKids-pin  {
                    bottom: 28%;
                }

                .presentation-pin {
                    top: 16px;
                }

                .culture-pin {
                    top: 25px;
                }

                .downloads-buttons {

                    .button-social {

                        .social-text {

                            p {
                                font-size: 16px;
                            } 
                        }

                    }
                }
            }
        }

        .land {

            padding-top: 170px;

            .title-servicing {
                bottom: -280px;
            }

            .bg-left-section {
                img {
                    top: 200px;
                }
            }

            .concert-pin {
                left: 27.6%;
                top: 23%;
            }

            .party-pin {
                top: 31%;
            }

            .sports-pin {
                top: -46%;
            }
        }

        .land2 {
            .column-33 {
                &:nth-child(1) {
                    top: -50px;
                }

                &:nth-child(2) {
                    top: -120px;
                }

                &:nth-child(3) {
                    top: -160px;
                }
            }
        }

        .land3 {

            padding-top: 180px;

            .mountain {
                right: -60px;
            }

            .road {
                top: -180px;
            }
        }

        .land4 {
            padding-top: 170px;
        }
    }

}

@media (max-width: 1350px) {
    .home { 
        
        .hero-building { 
            .container {
                
                
                .forKids-pin  {
                    bottom: 30%;
                    left: 49.7%;
                }
            }
        }

        .land {
            .road {
                top: -300px;
            }

            .sports-pin {
                top: -46%;
            }

            .bg-left-section {
                img {
                    top: 220px;
                }
            }

            .title-servicing {
                bottom: -230px;
            }

            .concert-pin {
                top: 26%;
                left: 27.4%;
            }

            .party-pin {
                left: 8%;
                top: 32%;
            }
        }
        .land2 {
            .column-33 {
                &:nth-child(1) {

                    top: -80px;

                    &::after {
                        width: 170px;
                        bottom: 60px;
                    }
                }

                &:nth-child(2) {
                    top: -140px;
                }

                &:nth-child(3) {
                    top: -180px;
                }
            }
        }

        .land3 {
            padding-top: 160px;
            background-position-y: 90px;

            .road2 {
                top: -200px;
            }
        }

        .land4 {
            padding-top: 100px;
        }
    }
}

@media (max-width: 1300px) {

    .home {

        .hero-building {

            .container {

                .forKids-pin {
                    bottom: 33%;
                }
            }
        }

        .land {

            .road {
                top: -270px;
            }

            .sports-pin {
                top: -42%;
            }
            
            .title-servicing {
                bottom: -210px;
            }

            .concert-pin {
                left: 27%;
            }

            .party-pin {
                left: 7.6%;
                top: 33%;
            }

            .bg-right-section {
                right: -10px;
            }
        }


        .land2 {
            .column-33 {
                &:nth-child(1) {

                    &::after {
                        width: 150px;
                        bottom: 10px;
                        left: -30px;
                    }

                    .mobile-column {
                        .mobile-image {
                            max-width: 200px;
                        }
                    }
                }

                &:nth-child(2) {
                    .mobile-column {
                        .mobile-image {
                            max-width: 290px;
                        }
                    }
                }

                &:nth-child(3) {
                    .mobile-column {
                        .mobile-image {
                            max-width: 200px;
                        }
                    }
                }
            }
        }

        .land3 {
            padding-bottom: 130px;
            top: -50px;

            &::before {
                top: 0px;
            }

            .road2 {
                top: -170px;
            }

        }

        .land4 {
            padding-top: 50px;

            .footer-content {
                padding-top: 100px;
            }
        }
    }

}


@media (max-width: 1250px) {

    .home {
         .hero-building {
             
                .container {
                    
                    .forKids-pin {
                        bottom: 38%;
                        left: 50.4%;
                        
                        img {
                            max-width: 70px;
                        }
                        
                        
                    }

                    .relax-section {
                        top: 70px;

                        .relax-pin {
                            img {
                                max-width: 80px;
                            }
                        }
                    }
                }

                .column-50 {
                    .presentation-pin img,
                    .science-pin img,
                    .culture-pin img {
                        max-width: 60px;
                    }
                    

                }
            }

            .land {
                padding-top: 100px;

                &::before {
                    width: 120px;
                    height: 120px;
                    top: 30px;
                    left: -30px;
                }

                .sports-pin {
                    top: -51%;
                }

                .road {
                    top: -290px
                }

                .bg-left-section {
                    top: -110px;

                    img {
                        top: 240px;
                    }
                }

                .bg-right-section {
                    .billboard {
                        &::after {
                            top: -50px;
                            background-size: 80%;
                        }
                    }
                }

                .title-servicing {
                    font-size: 62px;
                    bottom: -230px;

                    h2 {

                        &::after {
                            bottom: -18px;
                            left: -17px;
                        }
                    }
                }

                .concert-pin {

                    left: 27.4%;
                    top: 26%;

                    img {
                        max-width: 70px
                    }
                }

                .party-pin {
                    top: 31%;

                    img {
                        max-width: 70px;
                    }
                }
            }

            .land2 {
                top: 120px;
                background-position-y: -70px;

                .column-33 {
                    &:nth-child(1) {
                        top: -100px;
                    }

                    &:nth-child(2) {
                        top: -160px;

                        .mobile-title {
                            top: -50px;
                        }
                    }

                    &:nth-child(3) {
                        top: -200px;
                    }
                }
            }

            .land3 {

                &::before {
                    top: -50px;
                    z-index: 10;
                }

                .mountain {
                    max-width: 660px;
                }

                padding-top: 40px;
                background-position-y: 0px;

                .road2 {
                    top: -230px;
                }
            }
    }

}


@media (max-width: 1200px) {
       
.home { 
    
    .hero-building {
    
            .container {

                .relax-section {
                    max-width: 420px;
                    top: 80px;
                }
                
                .relax-section {
                    &::after {
                        bottom: -8px;
                        left: -25px;
                    }
                }
        
                .forKids-pin  {
                    bottom: 36%;
                    left: 50.3%;
                
                }

                .downloads-buttons {

                    .button-social {
                        
                        button {
                            padding: 10px 20px 10px 20px;
                        }
                    }
                }
        
            }
    
        }
        
        .land { 
            padding-top: 80px;
    
            .sports-pin {
                top: -74%;
                right: 9%;
            }

            .party-pin {
                top: 23%;
                left: 10%;
            }

            .concert-pin {
                left: 28.6%;
                top: 14%;
            }

            .title-servicing {
                bottom: -190px;
                left: 170px;
    
                h2 {
                font-size: 82px;
    
                    &::after {
                        bottom: -29px;
                    }
                }
            }
    
            &::before {
                width: 100px;
                height: 100px;
                top: 40px;
                left: -30px;
            }
    
            .bg-left-section {
                background-size: 90%;
                height: 410px;
                left: -50px;

                img {
                    top: 180px;
                }
        
            }
    
            .bg-right-section {
    
                height: 300px;
    
                .billboard {
                    width: 340px;
                    height: 360px;
    
                     .billboard-content {
                        width: 307px;
                        height: 132px;
                        top: 14px;
                        left: 15px;

                        .billboard-qrcode {
                            top: -5px;
                            max-width: 100px;
                        }

                        .billboard-mobile {
                            top: 62px;
                        }
                     }
                }
            }

            .road {
                top: -350px;
            }
        }

        .land3 {
            background-position-y: 20px;
        }

        .land4 {
            padding-top: 18px;

            .billboard {
                width: 440px;
                height: 460px;

                 .billboard-content {
                    width: 402px;
                    height: 177px;
                    top: 14px;
                    left: 15px;
                 }
            }
        }

    }

}


@media (max-width: 1150px) {

    .home {
        .hero-building {
            
            .container {
                
                .forKids-pin {
                    bottom: 36%;
                }

                .social-text h4 {
                    font-size: 18px;
                }

                .hero-content {
                    .hero-text {
                        h1 {
                            font-size: 42px;
                        }

                        p {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        .land {
            .road {
                top: -300px;
            }

            .sports-pin {
                top: -64%;
            }

            .bg-left-section {
                top: -100px;
            }

            .concert-pin {
                left: 28.6%;
                top: 17%;
            }

            .party-pin {
                top: 26%;
                left: 10%;
            }

            .title-servicing {
                left: 170px;
                bottom: -200px;
            }
        }

        .land2 {

            background-size: 110%;

            .column-33 {
                
                &:nth-child(1) {
                    top: -120px;
                }

                &:nth-child(2) {
                    top: -180px;
                }

                &:nth-child(3) {
                    top: -190px;
                }
                
                
            }
        }

        .land3 {
            .column-33 {
                &:nth-child(1) {
                    top: 20px;
                }
            }
        }
    }

}


@media (max-width: 1130px) {

    .home {
        .land {
            .title-servicing {
                 bottom: -190px;   
            }
        }
    }

}

@media (max-width: 1100px) {
    .home {
        .hero-building {
            .container {

                .forKids-pin {
                    bottom: 38%;
                }

                .downloads-buttons {
                    .button-social {
                        .social-text {
                            p {
                                font-size: 14px;
                             }
                        }
                    }
                }
            }
        }

        .land {
            .title-servicing {
                bottom: -160px;
                h2 {
                    &::after {
                        bottom: -26px;
                        width: 550px;
                        height: 210px;
                    }
                }
            }

            .concert-pin {
                left: 28%;
            }

            .party-pin {
                top: 29%;
                left: 9.5%;
            }
        }

        .land3 {
            padding-bottom: 40px;
        }

        .land4 {
            padding-top: 0px;

    
                .billboard {
                    width: 340px;
                    height: 360px;
    
                     .billboard-content {
                        width: 307px;
                        height: 132px;
                        top: 14px;
                        left: 15px;

                        .billboard-qrcode {
                            top: -5px;
                            max-width: 100px;
                        }

                        .billboard-mobile {
                            top: 62px;
                        }
                     }
                }
            
        }
    }
}

@media (max-width: 1050px) {
    .home {
        .hero-building {
            .container {

                .forKids-pin {
                    bottom: 40%;
                }

                .downloads-buttons {
                    .button-social {
                        .social-text {
                            p {
                                display: none;
                             }
                        }
                    }
                }
            }
        }

        .land {
            .road {
                top: -240px;

                &::after {
                    bottom: 13%;
                    width: 160px;
                    height: 160px;
                }
            }

            .sports-pin {
                top: -54%;
            }

            .concert-pin {
                top: 20%;
            }

            .bg-left-section {
                img {
                    top: 200px;
                }
            }
        }

        .land2 {
            .column-33 {

                h3 {
                    font-size: 18px;
                }

                &:nth-child(1) {
                    .mobile-column {
                        .mobile-image {
                            max-width: 180px;
                        }
                    }
                }

                &:nth-child(2) {

                    .mobile-title {

                        top: -30px;

                        .background-title {
                            top: 50px;
                            max-width: 280px;
                        }
                    }

                    .mobile-column {
                        .mobile-image {
                            max-width: 270px;
                        }
                    }
                }

                &:nth-child(3) {

                    .mobile-title {
                        top: -40px;
                    }

                    .background-title {

                        position: relative;
                        top: 10px;

                        img {
                            max-width: 180px;
                        }
                    }

                    .mobile-column {
                        .mobile-image {
                            max-width: 200px;
                        }
                    }
                }
            }
        }

        .land3 {
            .column-33 {

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    .mobile-column {
                        .mobile-image {
                            max-width: 190px;
                        }
                    }
                }
            }

            .mountain {
                max-width: 600px;
                bottom: 30px;
            }
        }

        .land4 {
            padding-top: 80px;
        }
    }
}

@media (max-width: 1000px) {
    .home {
        .land {
            .title-servicing {
                bottom: -130px;
                left: 130px;
            }
        
        }

        .land2 {

            .column-33 {
                
                &:nth-child(1) {
                    top: -190px;

                    &::after {
                        height: 270px;
                    }
                }

                &:nth-child(2) {
                    top: -220px;
                }

                &:nth-child(3) {
                    top: -220px;
                }
                
                
            }
        }
    
        .land3 {
            top: -120px;

            .road2 {
                top: -180px;
            }

            .mountain {
                max-width: 530px;
                bottom: 50px;
                right: -40px;

                .mountain-pin {
                    right: 8%;
                }
            }
            
            .column-33 {

                &:nth-child(1) {
                    top: 0px;
                }
            }
        }

        .land4 {
            padding-top: 0px;
        }
    }
}


@media (max-width: 950px) {
    .home {
        .hero-building {
            .container {
                .column-50 {
                    &:first-child {
                        padding-right: 10px;
                    }
                }
            }
        }

        .land {
            padding-top: 60px;

            .road {
                top: -200px;
            }

            .bg-left-section {
                top: -80px;

                img {
                    top: 210px;
                }
            }

            .bg-right-section {
                .billboard {
                    &::after {
                        display: none;
                    }
                }
            }

            .concert-pin {
                top: 24%;
                left: 27%;
            }

            .party-pin {
                top: 34%;
                left: 8%
            }
        }
    }
}





@media (max-width: 900px) {


    .home {

        .hero-building {

            background-size: 100%;

            .container {

                padding-bottom: 200px;
                margin-top: 40px;

                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 320px;
                    background: linear-gradient(0deg, 
                            rgba(255,255,255,1) 0%, 
                            rgba(255,255,255,0.8211485277704832) 48%, 
                            rgba(255,255,255,0) 100%);
                    top: 10%;
                    left: 0px;
                    z-index: 5;
                    filter: blur(70px);
                }

            .forKids-pin {
                bottom: 22%;
                left: 17.5%;
            }

            .presentation-pin {
                top: 26px;
                left: 25%;
            }

            .science-pin {
                top: 5px;
                right: 46%;
            }

            .culture-pin {
                top: 33px;
                right: 23%;
            }

            .column-50 {
                width: 100%;
                
                &:first-child {
                    padding-right: 0px;
                }
            }

                .column-50 {                    
                    &:first-child {
                        padding-right: 0px;
                    }
                }

                .hero-content {
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    top: 110px;
                    
                    

                    .hero-text {
                        text-align: center;
                        padding-right: 0px;

                        &::after {
                            display: none;
                        }

                        p {
                            padding-left: 50px;
                            padding-right: 50px;
                        }
                    }
                }


                .relax-section {
                    max-width: 360px;
                    top: 50%;
                    left: -60px;

                    &:after {
                        width: 400px;
                        height: 90px;
                    }

                    .relax-pin {
                        left: 30%;
                        max-width: 70px;
                    }
                }

                .downloads-buttons {
                    justify-content: center;
                    z-index: 6;
                    margin-top: 60px;

                    .button-social  {
                        button {
                            width: 240px;
                        }

                        .social-text {
                            p {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .land {
            padding-top: 150px;

            &::before {
                top: 120px;
            }

            .road {
                top: -130px;

                &::after {
                    width: 120px;
                    height: 120px;
                }
            }

            .sports-pin {
                top: -27%;
            }

            .concert-pin {
                top: 32%;
                left: 26%;
            }

            .party-pin {
                top: 41%;
            }

            .bg-left-section {
                top: -100px;
                height: 380px;

                img {
                    top: 200px;
                }
            }

            .bg-right-section {


                top: 20px;
                

                .billboard {
                    width: 270px;
                    height: 290px;
                    top: -10px;

                    .billboard-content {
                        width: 243px;
                        height: 106px;
                        top: 11px;
                        left: 12px;

                        .billboard-qrcode {
                            max-width: 80px;
                        }

                        .billboard-mobile {
                            top: 42px;

                            .billboard-title {
                                .logo-downloads {
                                    max-width: 80px;
                                }
                            }
                        }
                    }
                }
            }

            .title-servicing {
                bottom: -120px;
                left: 100px;

                h2 {
                    font-size: 72px;

                    &::after {
                        bottom: -1px;
                        width: 450px;
                        height: 160px;
                    }
                }
            }
            
        }

        .land2 {
            padding-top: 200px;

            .container {
                .column-33 {
                    &:nth-child(2) {
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }

        .land3 {
            padding-bottom: 0px;


            &::before {
                width: 100px;
                height: 100px;
                top: 0px;
            }

            .mountain {
                bottom: -10px;
            }

            .road2 {
                top: -130px;
            }

            .column-33 {
                &:nth-child(2) {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

}


@media (max-width: 850px) {

    // HOMEPAGE

    .home {

        .hero-building {
            .container {
                .forKids-pin {
                    bottom: 26%;
                }
            }
        }

        .land {
           .road {
               width: 105%;
           }

           .sports-pin {
               top: -29%;
               right: 6%;
           }

           .party-pin {
               top: 39%;
               left: 5%;
           }

           .bg-left-section {
               background-size: 100%;
           }

           .bg-right-section {
               top: 10px;
           }

           .title-servicing {
               bottom: -100px;
           }
        }

        .land2 {
            background-position-y: -40px;
        }

        .land3 {

            background-position-y: 60px;
            
            .column-33 {
                 &:nth-child(1) {
                     top: -30px;
                 }


                 &:nth-child(2) {
                     top: -80px;
                 }

                 &:nth-child(3) {
                     top: -100px;
                 }
            }
        }

        .land4 {
            margin-top: -30px;
        }
    }
}


@media (max-width: 800px) {

    // HOMEPAGE

    .home {

        .hero-building {
            .container {
                .forKids-pin {
                    bottom: 30%;
                }

                .relax-section {
                    top: 45%;
                }
            }
        }

        .land {
            padding-top: 60px;

            .road {
                top: -120px;
            }


            .concert-pin {
                top: 30%;
                left: 25%;
            }

            .party-pin {
                top: 36%;
                left: 4%;
            }

            .bg-left-section {
                top: -70px;

                img {
                    top: 220px;
                }
            }

            .title-servicing {
                bottom: -130px;
            }

        }

        .land2 {

            padding-top: 0px;
            background-position-y: 20px;
            top: unset;
            margin-top: 100px;
            padding-bottom: 150px;

            .container {

                flex-direction: column;
                align-content: center;
            
                .column-33 {
                    width: 100%;

                    &:nth-child(1) {
                        top: unset;

                        &::after {
                            bottom: -20px;
                            left: -120px;
                        }

                        .mobile-column {
                            .mobile-image {
                                max-width: 200px;
                            }
                        }
                    }

                    &:nth-child(2) {
                        top: unset;
                        margin-top: 40px;

                        .mobile-column {
                            .mobile-image {
                                max-width: 290px;
                            }
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            background-image: url('~@/assets/png/home/mobile-bg.png');
                            background-size: 70%;
                            width: 100%;
                            height: 300px;
                            bottom: -50px;
                            background-repeat: no-repeat;
                            display: flex;
                            transform: 50%;
                            background-position: center;

                        }
                        
                    }

                    &:nth-child(3) {
                        margin-top: 60px;
                        margin-bottom: 60px;
                        top: unset;

                        .background-title {
                            top: 30px;
                        }

                        .mobile-title {
                            top: -20px;
                        }
                        
                        &::before {
                            content: "";
                            position: absolute;
                            background-image: url('~@/assets/png/home/mobile-bg.png');
                            background-size: 70%;
                            width: 100%;
                            height: 300px;
                            bottom: -50px;
                            background-repeat: no-repeat;
                            display: flex;
                            transform: 50%;
                            background-position: center;

                        }
                    }
                }
            }
        }

        .land3 {
            
            .road2 {
                top: -50px;

                &::before {
                    position: absolute;
                    content: "";
                    background: linear-gradient(0deg, 
                    rgba(255,255,255,1) 0%, 
                    rgba(255,255,255,0.8211485277704832) 48%, 
                    rgba(255,255,255,0) 100%);
                    height: 300px;
                    width: 100%;
                    bottom: 0px;
                    left: 0px;
                }
            }

            .container {
                flex-direction: column;
                align-content: center;

                .column-33 {

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        top: unset;
                        margin-top: 60px;
                    }

                    &:nth-child(1) {
                        margin-top: -60px;
                        z-index: 11;


                        .background-title {
                            position: relative;
                            top: 30px;
                        }

                        .mobile-title {
                            top: -25px;
                        }
                    }

                    &:nth-child(3) {

                        &::after {
                            display: none;
                        }

                        .background-title {
                            position: relative;
                            top: 30px;
                        }

                        .mobile-title {
                            top: -22px
                        }
                    }
                }
            }

            .mountain {
                top: 80px;
            }
        }
    }
}